<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de Datos</title>
</head>
<body>
    <h1>PROYECTO DJANGO</h1>
    <h2>MODULO - USUARIOS</h2>
    <h3>DATOS DE USUARIO</h3>
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Apellido:</strong> {{ apellido }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ fecha_nacimiento }}</p>
    <p><strong>Género:</strong> {{ genero }}</p>
    <p><strong>Clave:</strong> {{ password }}</p>
    <a href="{% url 'nuevo_usuario' %}">Registrar nuevo usuario</a>
    <footer>
        <p>Programacion web - @2005</p>
    </footer>
</body>
</html>
